@import "app/resources/styles/variables.scss";

.app-body[dir="rtl"] {
}

.manage-account-conatiner {
  background: black;
  color: #fff;
  min-height: calc(90vh - #{$header-height} - #{$app-footer-height});
  .subscription-title{
    text-align: center;
  }
  .plan-item{
    display: flex;
    border: 2px solid #4a4a4a;
    padding: 10px;
    margin: 10px;
    color: #4a4a4a;
    border-radius: 5px;
  }
  .toggle-switch{
    text-align: right;
    margin: 10px;
  }
  .react-switch{
    opacity: 1!important;
  }

}
.no-active-plan{
  text-align: center;
  font-size: 20px;
  color: #fff;
}
