@import "app/resources/styles/variables.scss";

.app-body[dir="rtl"] {
  .contact-us {
    .contact-us-container {
      .contact-us-title-wrapper {
        .contact-us-title {
          @media (max-width: $mobile-view-threshold-px) {
            text-align: center;
          }
        }
      }

      .contact-us-details {
        .contact-us-email,
        .contact-us-mobile,
        .contact-us-subject {
          .email-error,
          .mobile-error {
            margin: 2px 0;
          }
        }

        .contact-us-btn {
          height: 45px;
        }
      }
    }
  }
}

.contact-us {
  background: $contact-container-background-color;

  .contact-us-container {
    display: inline-block;
    background: $contact-container-background-color;
    color: $contact-container-color;
    min-height: calc(100vh - 60px - #{$app-footer-height});
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: $mobile-view-threshold-px) {
      min-height: calc(100vh - 60px - 175px);
    }

    .contact-us-title-wrapper {
      width: calc(100% - 25vw);
      margin: 60px 0 40px;

      .contact-us-title {
        width: 100%;
        height: 25px;
        font-family: "changa";
        font-size: 20px;
        font-weight: 700;
        text-align: center;
      }
    }

    .contact-us-details {
      width: calc(100% - 25vw);
      font-family: "changa";

      .label {
        height: 19px;
        color: #5d5d5d;
        font-size: 18px;
      }

      .contact-us-subject {
        width: 100%;
        margin-top: 5px;

        .select-box-container {
          width: 100%;
          margin: 0 0 25px;

          .select-box {
            width: 100%;
            border-radius: 5px;

            .selected {
              border-radius: 5px;
            }
          }
        }

        .open {
          border-radius: 5px 5px 0 0;

          .select-box-container {
            .select-box {
              .selected {
                border-radius: 5px 5px 0 0;
              }
            }
          }
        }
      }

      .contact-us-content {
        margin-top: 5px;
      }

      .contact-us-email,
      .contact-us-mobile {
        height: 53px;
        border-radius: 5px;
        border: 2px solid $input-border-color;
        margin-top: 5px;
        margin-bottom: 25px;

        input {
          width: 98%;
          height: 45px;
          color: $contact-container-input-color;
          font-size: 18px;
          overflow: hidden;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:active,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:hover {
          -webkit-box-shadow: 0 0 0 30px $select-background-color inset !important;
          -webkit-text-fill-color: $contact-container-input-color !important;
        }

        .email-error,
        .mobile-error {
          display: block;
          color: $contact-container-title-color;
          margin: 6px 0;
        }
      }

      .comment-textarea {
        height: 150px;
        background: black;
        color: white;
        width: 100%;
        border-radius: 5px;
        padding: 6px 9px;
        font-size: 18px;
        border: 2px solid $input-border-color;
        margin-bottom: 25px;
      }

      .contact-us-btn {
        margin-bottom: 25px;
        text-align: center;

        .btn {
          width: 247px;
          height: 37px;
          border-radius: 5px;
          background-color: $contact-container-button-color;
        }
      }
    }

    .contactResponseData {
      color: $contact-container-color;
      margin-bottom: 44px;
      text-align: center;
    }
  }
}
