<footer class=" app-footer">
    <div class="footer-top">
        <div class="footer-top-left">
            <div class="links">
                <a aria-label="About weyyak" class="router-link" href="/en/static/about-en">About weyyak</a>
                <a aria-label="Privacy policy" class="router-link" href="/en/static/privacy-en">Privacy policy</a>
                <a aria-label="Terms of use" class="router-link" href="/en/static/term-en">Terms of use</a>
            </div>
        </div>
        <div class="footer-top-right">
            <div class="download-app">
                <span>Weyyak app available on</span>
                <a href="https://play.google.com/store/apps/details?id=com.tva.z5" target="_blank" rel="noopener noreferrer" aria-label="Available on Google Play">
                    <div class="carousel-image"><img class="" src="https://contents-uat.weyyak.z5.com/resources/assets/footer/playstore.svg" alt="Available on Google Play"/>
                    </div>
                </a>
                <a href="https://apps.apple.com/in/app/z5-weyyak-%D9%88%D9%8A%D8%A7%D9%83/id1226514781" target="_blank" rel="noopener noreferrer" aria-label="Available on App Store">
                    <div class="carousel-image">
                        <img class="" src="https://contents-uat.weyyak.z5.com/resources/assets/footer/apple.svg" alt="ic-appstore"/>
                    </div>
                </a>
            </div>
            <div class="follow-us">
                <span>Follow us on</span>
                <a href="https://www.linkedin.com/company/weyyak">
                    <img src="https://contents-uat.weyyak.z5.com/resources/assets/footer/linkedin.svg" alt='linkedIn'/>
                </a>
                <a href="https://www.instagram.com/z5weyyak/" target="_blank" rel="noopener noreferrer" aria-label="instagram">
                    <img src="https://contents-uat.weyyak.z5.com/resources/assets/footer/Instagram.svg" alt="instagram"/>
                </a><a href="https://twitter.com/Z5weyyak" target="_blank" rel="noopener noreferrer" aria-label="Twitter">
                    <img src="https://contents-uat.weyyak.z5.com/resources/assets/footer/twitter.svg" alt="Twitter"/>
                </a>
                <a href="https://www.youtube.com/weyyakcom">
                    <img src="https://contents-uat.weyyak.z5.com/resources/assets/footer/youtube.svg" alt="youtube"/>
                </a>
                <a href="https://www.facebook.com/weyyakcom" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
                    <img src="https://contents-uat.weyyak.z5.com/resources/assets/footer/facebook.svg" alt="Facebook"/>
                </a>
            </div>
        </div>
    </div>
<div class="footer-bottom">
    <span>Copyrights 2020 Weyyak </span>
</div>
</footer>