<header class="header">
    <div class="header_bottom">
        <div class="contentLeft">
            <button tabindex="0" class="btn menu-icon">
                <img class="icon" src="https://webqa.weyyak.com/static/media/ic-menu.4c98500c.svg" alt="Menu"/>
            </button>
            <div class="vertical-separator left-separator"></div>
        </div>
    <div class="contentMiddle">
        <div class="logo-container">
            <a href="/en">
                <img class="logo" src="https://contents-uat.weyyak.z5.com/resources/assets/header/logo-01.svg" alt="Weyyak logo"/>
            </a>
        </div>
    </div>
<div class="contentRight">
    <button tabindex="0" class="btn sign-in-btn">
        <span>Sign in | Register</span>
    </button>
    <button tabindex="0" class="btn user-icon">
        <img class="icon" src="https://webqa.weyyak.com/static/media/ic-user.8bc661db.svg" alt="icon"/>
    </button>
<div>
    <span class="menuitems"><a class="btn subscribe-btn" href="/en/contents/movie">Movies</a></span>
    <span class="menuitems"><a class="btn subscribe-btn"  href="/en/contents/series">Series</a></span>
    <span class="menuitems"><a class="btn subscribe-btn"  href="/en/contents/program">Programs</a></span>
    <span class="menuitems"><a class="btn subscribe-btn"  href="/en/contents/livetv">LiveTV</a></span>
    <span class="menuitems"><a class="btn subscribe-btn"  href="/en/contents/play">Plays</a></span>
</div>
<button tabindex="0" class="btn subscribe-btn">
    <span>Subscribe</span>
</button>
<div class="vertical-separator hidden visible"></div>
<div class="languagebtn-container">
    <!--<button tabindex="0" class="btn langButton">
         <img class="icon" src={"https://webqa.weyyak.com/static/media/"+ lang_img+".svg"} alt={lang_img_alt}/> 
    </button>-->
</div></div></div></header>