@import "app/resources/styles/variables.scss";

.signin-container {
  background: $sign-up-background-color;
  min-height: 76vh;
  display: flex;
  justify-content: center;
  font-family: "changa";

  .login {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    @media(max-width: $mobile-view-threshold-login-px) {
      width: 100%;
    }

    .overlay-title {
      color: $sign-in-text-color;
      font-size: 20px;
      margin: 0 0 20px;
      text-transform: uppercase;
      text-align: center;
      display: block;
      width: 100%;
      margin-top: 70px;
      @media(max-width: $mobile-view-threshold-login-px) {
        font-size: 18px;
      }
    }

    .login-container {
      display: flex;
      @media(max-width: $mobile-view-threshold-login-px) {
        width: 80%;
        max-width: 400px;
        display: block;
      }

      .input-container {
        .form {
          display: flex;
          flex-direction: column;

          .row {
            width: 100%;
            position: relative;

            input {
              margin: 0;
              min-width: 250px;
              width: 400px;
              height: 53px;
              border-radius: 5px;
              border: 2px solid #4a4a4a;
              padding: 6px 16px;
              font-size: 22px;
              position: relative;
              @media(max-width: $mobile-view-threshold-login-px) {
                width: 100%;
              }
              @media(max-width: $mobile-view-threshold-px) {
                font-size: 16px;
              }
            }

            input:-webkit-autofill,
            input:-webkit-autofill:active,
            input:-webkit-autofill:focus,
            input:-webkit-autofill:hover {
              -webkit-box-shadow: 0 0 0 30px black inset !important;
              -webkit-text-fill-color: white !important;
            }
          }

          .error-message {
            color: #bd0000;
            font-style: normal;
            padding: 4px;
            margin-top: 0;
            margin-bottom: 6px;
            font-weight: 400;
            height: 17px;
            font-size: 12px;
            position: relative;
            align-items: baseline;
          }
        }

        .forgot-password-wrapper {
          width: 100%;

          .forgot-password-text {
            margin: 0 10px;
            font-size: 18px;
            color: #9e9e9e;
            text-decoration: underline;
            @media(max-width: $mobile-view-threshold-px) {
              font-size: 15px;
            }
          }
          @media(max-width: $mobile-view-threshold-login-px) {
            width: 80%;
          }
        }

        .btn-confirm {
          margin: 25px 0 0;
          border-radius: 5px;
          background-color: $lightPrimary;
          color: $next-button-color;
          font-size: 18px;
          width: 400px;
          height: 55px;
          @media(max-width: $mobile-view-threshold-login-px) {
            width: 100%;
          }
          @media(max-width: $mobile-view-threshold-px) {
            font-size: 18px;
          }

          &:not([disabled]):hover {
            background-color: $lightPrimary;
          }

          &:not([disabled]).md-focused {
            background-color: $lightPrimary;
          }
        }
      }

      .or-container {
        width: 60px;
        margin: 30px 30px 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        @media(max-width: $mobile-view-threshold-login-px) {
          width: 80%;
          height: 1px;
          margin: 50px auto;
        }

        .or-text {
          width: 50px;
          line-height: 0;
          text-align: center;
          font-size: 16px;
          color: #656565;
          display: none;
          @media(max-width: $mobile-view-threshold-login-px) {
            display: block;
          }
        }

        .or-line {
          width: 0;
          height: 167px;
          border: 0.5px solid #414141;
          @media(max-width: $mobile-view-threshold-login-px) {
            height: 1px;
            width: 80%;
          }
        }
      }

      .social-login-container {
        margin-top: 8px;
        .social-login-text {
          font-size: 18px;
          @media(max-width: $mobile-view-threshold-px) {
            font-size: 16px;
          }
        }
      }
    }

    .redirection-container {
      height: 48px;
      font-size: 18px;
      color: #9e9e9e;
      display: flex;
      justify-content: center;
      margin: 40px auto;
      flex-direction: column;
      align-items: center;
      @media(max-width: $mobile-view-threshold-px) {
        font-size: 16px;
      }

      .redirection-name {
        font-size: 18px;
        color: #9e9e9e;
        text-decoration-line: inherit;
        @media(max-width: $mobile-view-threshold-px) {
          font-size: 16px;
        }
      }
    }
  }

  .rodal-dialog {
    padding: 0;

    .rating-dialog-content {
      .dialog-title {
        text-align: center;
        word-wrap: break-word;
        color: #606060;
        font-size: 22px;
        letter-spacing: 0.005em;
      }

      .dialog-ok-btn {
        border: 1px solid #606060;
        border-bottom: none;
        width: 100%;
        text-transform: none;
        color: #606060 !important;
        padding: 0;
        margin: 0 0 -17px !important;
        border-radius: 0;

        &:hover {
          background: $primary-orange-color;
          color: white;
        }
      }
    }
  }
}

.app-body[dir="rtl"] {
  .signin-container {
    .sign-up {
      .login-facebook,
      .login-twitter {
        .social-login-text {
          margin: 0 40px 0 0;
          @media(max-width: $mobile-view-threshold-login-px) {
            margin: 0 20px 0 0;
          }
        }
      }
    }
  }
}
