@import "app/resources/styles/variables.scss";

.app-body[dir="rtl"] {
  .image-thumbnail {
    .premium-text-conatiner {
      flex-direction: row-reverse;
    }
  }
}
.ltr {
  .default-image {
    background-image: url($default-thumbnail-en);
  }
}

.rtl {
  .default-image {
    background-image: url($default-thumbnail-ar);
  }
}

.image-thumbnail {
  position: relative;
  border-top-width: 0;
  border-bottom-width: 0;
  color: #fff;
  background-color: transparent;
  transition: all 0.3s ease;
  cursor: pointer;

  .plan-icon {
    position: absolute;
    width: 10%;
    max-width: 22px;
    top: 6px;
    left: 6px;
    z-index: 2;
  }

  .carousel-image {
    :last-child {
      z-index: -1;
    }
  }

  .progressbar-container {
    position: absolute;
    // bottom: 0;
    z-index: 2;
    width: 100%;
    background-color: $video-info-background;

    .progressbar-progress {
      height: 5px;
      
    }
  }

  &.selected {
    transform: scale($thumbnail-zoom);

    .down-arrow .icon {
      transform: rotate(180deg);
    }

    .carousel-bottom-overlay {
      display: flex;
    }

    .down-arrow {
      display: block;
    }
  }

  .image {
    width: 100%;
    opacity: 1;
    transition: opacity 0.3s ease;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .carousel-bottom-overlay {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 5px;
    z-index: 2;
    align-items: center;
    span {
      font-size: $thumbnail-rating-font-size;
      display: inline-block;

      &.ic-star {
        width: 17px;
        height: 16px;
        background: url($rating-star-image);
        margin-right: 5px;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  .desc-containar {
    height: 80px;
    overflow: hidden;

    p {
      height: inherit;
    }
  }

  .on-image-desc {
    position: absolute;
    bottom: 10px;
    left: 40px;
    font-weight: bold;
    z-index: 2;
    display: flex;
  }

  .down-arrow {
    display: none;
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
    margin: 0;
    font-weight: bold;
    z-index: 2;

    &:hover {
      background-color: transparent;
    }

    .icon {
      width: 35px;
      transition: transform 0.3s;
      top: 0;
    }
  }

  .play-button {
    display: none;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    height: 30%;
    width: 30%;
    transition: opacity 0.3s ease;
    opacity: 1;
    padding: 0;
    margin: 0;
   
    &:hover {
      background-color: transparent;
    }

    .icon {
      width: 100% !important;
      height: 100% !important;
    }
  }

  .overlay-color {
    width: 100%;
    height: 20%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
    z-index: 1;
  }
  .premium-text-conatiner {
    display: flex;
    flex-direction: row;
    .premium-text {
      position: absolute;
      top: 0;
      background-color: $primary-orange-color;
      font-size: 14px;
      padding: 0 5px;
      opacity: 0.9;
    }
  }

  &.thumnail-hover {
    &:hover {
      transform: scale($thumbnail-zoom, $thumbnail-zoom);
      z-index: 1;

      .play-button-hover {
        display: block;
      }
      .trailor-play-btn{
        transform: translate(-50%,-90%);
        -webkit-transform: translate(-50%, -90%);
      }
   .carousel-bottom-overlay {
        display: flex;
        flex-direction: row;
      }

      .down-arrow {
        display: block;
      }

      .overlay-color {
        opacity: 1;
      }
    }
  }

  &.play-button-image-hover {
    &:hover {
      .play-button-hover {
         display: block;
      }
    }
  }
}

/*Device width pixel lesser than 745*/
@media only screen and (max-width: $mobile-view-threshold-px) {
  .image-thumbnail {
    .carousel-bottom-overlay,
    .on-image-desc {
      top: calc(100% - 130px);
    }

    .on-image-desc {
      left: 35px;
    }

    .down-arrow {
      top: 160px;
      left: 35%;
    }

    &.thumnail-hover {
      &:hover {
        transform: none;

        .carousel-bottom-overlay {
          display: none;
        }

        .down-arrow {
          display: none;
        }

        .overlay-color {
          opacity: 0;
        }
      }
    }

    .play-button {
      display: inline-block;
    }
  }
}
/*Device width pixel in between 360-450*/
@media only screen and (max-width: 450px) {
  .image-thumbnail {
    .carousel-bottom-overlay,
    .on-image-desc {
      top: calc(100% - 130px);
    }

    .on-image-desc {
      left: 25px;
    }

    .down-arrow {
      top: 160px;
      left: 35%;
    }
  }
}


.app-body[dir="rtl"] {
  .watching_details{
  .carousel-bottom-overlay {
    bottom: 0px;
    right: 0px;
  }
}
}


.Continue_watching{
  a {
    text-decoration: none;
  }
  .image-thumbnail .progressbar-container {
    position: absolute;
    z-index: 2;
    width: 100%;
    background-color: transparent;
    margin-top: -5px;

    .progressbar-progress {
      border-radius: 2px;
      margin-left: 9px;
      margin-right: 9px;
    }
}

  .carousel-bottom-overlay {
    bottom: 0px;
    left: 0px;
  }

  .carousel-image.image-container {
    position: relative;
  }
  .carousel-image.image-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: transparent linear-gradient(359deg , #292929 0%, #70707000 100%);
  }

  .image-thumbnail .play-button {
    margin: -50px 0px;

    // &:hover {
    //   background-color: rgba(100, 100, 100, 0.5);
    // }
  }

  .image-thumbnail.thumnail-hover:hover {
    -webkit-transform: inherit;
    transform: inherit;
    z-index: 1;
}

  .watching_details{
     background-color: #292929;
     font-family: 'changa-Regular';
     border-radius: 0px 0px 10px 10px;
     opacity: 1;
     margin-top: -45px;
     z-index: 2;
    //  background: transparent linear-gradient(359deg , #292929 0%, #70707000 100%);
    
     .btn:hover {
      background-color:transparent;
    }

    &:hover {
      .carousel-bottom-overlay {
        display: none;
      }
    }

    .watching_title{
      min-height: 48px;
      color: white;
      position: relative;
      bottom: 0;
      font-size: 18px;
      display: block;
      line-height: 20px;
      // margin-bottom: 10px;
      padding-left: 9px;
      padding-right: 9px;

      
      @media only screen and (min-width: 1400px) {
        font-size: 18px;
        line-height: 18px;
        font-weight: 500;

      }
      @media only screen and (min-width: 1024px) {
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;

      }
      @media only screen and (max-width: 768px) {
        font-size: 12px;
        font-weight: 500;
        min-height: 35px;
        line-height: 18px;
        font-family: 'changa';

      }

      }

    p{
      color:  #757575;
      font-size: 16px;
      padding-left: 9px;
      padding-right: 9px;
      margin-bottom: 10px;
      min-height: 30px;

      @media only screen and (max-width: 768px) {
        font-size: 11px;
      }

      @media only screen and (min-width: 1400px) {
        font-size: 16px;
      }

    }

    .watching_actions {
      display: flex;
      justify-content: space-between;
      margin-right: 3px;
      margin-left: 3px;
      
     .btn {
        margin:3px 3px!important;
        // padding:0px 0px;
    }
    }
  
      .icon {
        height:33px;
        width:33px;
        @media only screen and (max-width: 1024px) {
        height:24px;
        width:24px;
       }
       @media only screen and (max-width: 768px) {
        height:24px;
        width:24px;
      }
    }
  }



}

.addItem-btn {
  background-image: url(../../../resources/assets/add.svg);
  width: 33px;
  height: 33px;

  &:hover {
    background-image: url(../../../resources/assets/playlist_Plus_hover.svg);
    width: 33px;
    height: 33px;
    background-size: 33px;
    @media only screen and (max-width: 768px) {
    background-image: url(../../../resources/assets/add.svg);
    
  }
  }
  
}
.MinusItem-btn {
  background-image: url(../../../resources/assets/removeItem.svg);
  width: 33px;
  height: 33px;

  &:hover {
    background-image: url(../../../resources/assets/removeItemHover.svg);
    width: 33px;
    height: 33px;
    background-size: 33px;
    @media only screen and (max-width: 768px) {
      background-image: url(../../../resources/assets/removeItem.svg);
    }
  }
 
}
.PlayItem-btn {
  background-image: url(../../../resources/assets/playsvg.svg);
  width: 33px;
  height: 33px;

  &:hover {
    background-image: url(../../../resources/assets/playsvgHover.svg);
    width: 33px;
    height: 33px;
    background-size: 33px;
    @media only screen and (max-width: 768px) {
      background-image: url(../../../resources/assets/playsvg.svg);
    }
  }
  
}
.RemoveItem-btn {
  background-image: url(../../../resources/assets/remove.svg);
  width: 33px;
  height: 33px;

  &:hover {
    background-image: url(../../../resources/assets/removeHover.svg);
    width: 33px;
    height: 33px;
    background-size: 33px;
    @media only screen and (max-width: 768px) {
      background-image: url(../../../resources/assets/remove.svg);
    }
  }
  
}

.trailers-image-container{
  // position: relative;
  .pos-relative {
    position: relative;
  }
  .on-image-desc{
    top:inherit !important;
    bottom: 10px !important;
  }
  .desc-containar {
    height: auto !important;
    position: relative;
    top: -5px;
    .description {
      line-height: 15px;
    }
    p {
      margin: 0 !important;
    }
  }
}
.Continue_watching{
  .swiper-slide:hover{
    transform: scale(1.0333) !important;
     transition: all .3s ease-in-out;
     @media  only screen and (max-width:767px){
       transform: scale(1) !important;
     }
  }
  }
