@import "app/resources/styles/variables.scss";
.app-body[dir="rtl"] {
  .plans-container {
    .plans-select-container {
      .plan-select {
        margin-right: 0px;
        margin-left: 100px;
        .radio-div {
          margin-right: 0;
          margin-left: 10px;
        }
        @media screen and (max-width: 745px) {
          flex-basis: 100%;
          margin-left: 0px;
        }
      }
      .plan-select.selected {
        margin-right: 0;
      }
    }
  }

  .plans-container {
    .plans-info {
      margin-right: 10%;
      margin-left: 0;
      .plans-info-box {
        margin-right: 0;
        margin-left: 20px;
        .icon-style {
          margin-right: 0;
          margin-left: 10px;
        }
      }
    }
    .plans-select-container {
      margin-right: 8%;
    }
  }
  .plans-container {
    .plans-banner {
      .plans-text {
        margin-left: 0;
        margin-right: 8%;
        .plans-text-heading,
        .plans-text-subheading {
          margin-right: 0;
          @media screen and (max-width: 745px) {
            margin-right: 8%;
          }
        }

        .plans-text-heading {
          line-height: 65px;
        }
      }
    }
    .plans-select-heading, .plans-not-available{
      margin-right: 8%;
    }
    .plans-proceed {
      margin: 0 8% 50px 0;
    }
  }
}

.plans-container {
  background: $login-container-background-color;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  .plans-container-first {
    position: relative;
    display: flex;
    width: 100%;
    height: 190px;
    transform: rotate(0deg);
    background-image: url("~app/resources/assets/plans/top-background.png");
  }
  .plans-banner {
    display: flex;
    margin-top: -8%;
    @media screen and (max-width: 745px) {
      margin-top: -30%;
      flex-direction: column;
    }
    .plans-text {
      display: flex;
      flex-basis: 380px;
      flex-direction: column;
      margin-right: 0;
      margin-left: 8%;

      @media screen and (max-width: 745px) {
        order: 2;
        flex-basis: 100%;
      }
      .plans-text-heading {
        /* Style for "Be the first" */
        color: #fff;
        font-size: 60px;
        font-weight: 700;
        line-height: 60px;
        text-transform: uppercase;
        margin-bottom: 40px;
      }
      .plans-text-subheading {
        /* Style for "to experience" */
        color: #fff;
        font-size: 28px;
        text-transform: uppercase;
        line-height: 30px;
        font-weight: 700;
      }
      .bright {
        font-weight: 700;
        margin: 0;
      }
    }
    .plans-container-image {
      flex-basis: 80%;
      width: 100%;
      background-repeat: no-repeat;
      @media screen and (max-width: 745px) {
        flex-basis: 100%;
      }
      .plans-image {
        width: 100%;
        margin-left: 10%;
      }
    }
  }

  .plans-info {
    display: flex;
    margin-left: 10%;
    margin: 0px 0 40px 150px;
    @media screen and (max-width: 745px) {
      margin: 3% 8%;
      flex-direction: column;
    }
    .plans-info-box {
      display: flex;
      align-items: center;
      color: #fff;
      margin-right: 30px;
      margin-bottom: 20px;
      .icon-style {
        border: 3px solid #fff;
        height: 47px;
        width: 58px;
        border-radius: 5px;
        margin-right: 10px;
      }
      .p5 {
        padding: 5px;
      }
    }
  }

  .plans-select-heading {
    color: #fff;
    text-transform: uppercase;
    margin-top: 100px;
    margin-left: 8%;
    margin-bottom: 5px;

    @media screen and (max-width: 745px) {
      margin: 15% 8% 3% 8%;
    }
  }
  .plans-not-available{
    color: #fff;
    margin-top: 100px;
    margin-left: 8%;
    margin-bottom: 5px;

    @media screen and (max-width: 745px) {
      margin: 15% 8% 3% 8%;
    }
  }
  .plans-select-container {
    display: flex;
    margin: 5px 10% 0px 8%;
    flex-wrap: wrap;
    @media screen and (max-width: 745px) {
      margin: 3% 8% 0 8%;
      flex-wrap: wrap;
    }
    .plan-select {
      display: flex;
      flex-basis: 48%;
      align-items: center;
      color: #fff;
      border: 2px solid #3d3d3d;
      background-color: #3d3d3d;
      margin-right: 100px;
      margin-bottom: 20px;
      border-radius: 8px;
      padding: 15px;
      &:last-child {
        margin-bottom: 10px;
      }
      &.selected {
        background: $primary-orange-color;
        border-color: $primary-orange-color;
        .radio-div {
          background: #fff;
          border-color: #fff;
        }
      }
      @media screen and (max-width: 745px) {
        flex-basis: 100%;
        margin-right: 0px;
      }
    }
    .radio-div {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: solid 2px #807979;
      margin-right: 10px;
    }
  }
  .plans-proceed {
    display: flex;
    margin: 0px 0 150px 8%;
    width: 39.3%;
    @media screen and (max-width: 745px) {
      width: 84%;
      margin: 0% 8% 100px 8%;
      justify-content: center;
    }
    .btn-proceed {
      background-color: $primary-orange-color;
      width: 100%;
      text-transform: uppercase;
      border-radius: 5px;
      margin: 0;
    }
  }
}
