@import "app/resources/styles/variables.scss";

.device-container {
  background: $sign-up-background-color;
  color: #4a4a4a;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - #{$app-footer-height} - 50px);
  font-family: "changa";
  .device {
    width: calc( 100% - 25vw);
    // width: 705px;
    margin-bottom: 40px;
    .overlay-title {
      color: #ffffff;
      font-size: 24px;
      font-weight: 400;
      text-align: center;
      margin: 30px 0;
    }
    .no-devices{
      font-size: 20px;
      color: #fff;
    }

    .device-info {
      .device-info-title {
        //text-align: center;
        color: #fff;
        margin-bottom: 40px;
        //border-top: 1px solid #929090;
        padding-top: 30px;
        font-size: 18px;
        @media screen and (max-width: 745px) {
          padding-top: 0px;
          font-size: 16px;
        }
      }
      .device-info-input {
        //margin: 40px 0;
        .row {
          display: flex;
          .inner-column {
            flex-basis: 100%;
            input{
              width: 100%;
              height: 50px;
              padding: 0 10px;
              border-radius: 5px;
              background-color: #000000;
              color: #646464;
              font-size: 18px;
              margin: 0;
              color: #888;
              font-size: 20px;
              border: 2px solid #4a4a4a;
              @media screen and (max-width: 745px) {
                font-size: 18px;
            }
            }
          }
        }
      }
      .devices-info-image {
        text-align: center;
        img {
          @media screen and (max-width: 900px) {
            width: 100%;
          }
        }
      }
      .device-info-text {
        text-align: center;
        //margin: 20px 0;
        p {
          margin: 0;
          text-align: center;
          color: #fff;
          line-height: 24px;
          font-size: 14px;
        }
        .btn-add {
          border-radius: 5px;
          background-color: #ff6d02;
          padding: 10px 80px;
          margin: 20px 0;
          font-size: 18px;
          @media screen and (max-width: 745px) {
            font-size: 14px;
          }
        }
        .message {
            background-color: rgba(0,255,0,.5);
            padding: 10px 5px;
            border-radius: 10px;
            font-size: 20px;
            color: #fff;
            text-align: center;
        }
        .error{
          background-color: rgba(255,0,0,.5);
        }
      }
      .device-info-instructions{
        color: #717171;
        font-size: 18px;
        @media screen and (max-width: 745px) {
          font-size: 14px;
        }
      }
    }

    .device-connected-devices {
      .devices-title {
        color: #fff;
        font-size: 18px;
        line-height: 24px;
      }
      .sign-out-all{
        border-radius: 5px;
        background-color: #ff6d02;
        padding: 10px 80px;
        margin: 20px 0;
        font-size: 18px;
        &:hover{
          background-color: #ff6d02;
        }
        @media screen and (max-width: 745px) {
          padding: 10px 20px;
          white-space: nowrap;
        }
      }
      .devices-signout-title {
        text-align: center;
      }
      .device-item-name, .sign-out-btn, .sign-out-all{
        @media screen and (max-width: 900px) {
          font-size: 14px;
        }
      }
    }
    @media screen and (max-width: 745px) {
      //width: auto;
    }
  }
}
