@import "app/resources/styles/variables.scss";

.app-body[dir="rtl"] {
  .dropdown-bottom {
    .dropdown-bottom-left {
      .dropdown-info {
        .dropdown-extra-info {
          .rating {
            .ic-star {
              margin: 0px 3px 0px 0px;
            }
            flex-direction: row-reverse;
            &::before {
              content: "|";
              padding: 0 5px;
              position: relative;
              bottom: 1px;
              color: #838383;
            }
            &::after {
              content: "";
            }
          }
        }
      }
    }
  }
  .details-container {
    .bucketItem {
      .bucket-container {
        .swiper-container {
          .swiper-button-next {
            margin: -22px -5px 0 -4px;
           }
          .swiper-button-prev {
            margin: -22px -4px 0px 0;
            @media(max-width:1024px){
              margin: -22px -77px 0px 0;
            }
          }
        }
      }
    }
    .details {
      .episodes-slider {
        .image-thumbnail {
          .on-image-desc {
            top: calc(100% - 155px);
          }
          .desc-containar {
            height: 100px;
          }
        }
        .select-box-container {
          .select-container {
            margin: 0;
            margin-left: 4px;
          }
        }
        .swiper-container {
          margin-right: $video-info-content-margin-right;
        }
        .right-arrow {
          right: auto;
          left: 0px;
          -webkit-transform: scale(-1);
          -ms-transform: scale(-1);
          transform: scale(-1);
        }
        .left-arrow {
          -webkit-transform: scale(-1);
          -ms-transform: scale(-1);
          transform: scale(-1);
        }
      }
    }
  }
  @media only screen and (max-width: 1024px) {
    .details-container {
      .details {
        .movie-details {
          .movie-info {
            padding: 0;
            padding-right: 20px;
          }
        }
      }
    }
  }
}

.play-button-extend {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}
.details-container {
  width: calc(100% - 120px);
  margin-left: $app-content-margin-left;
  margin-right: $app-content-margin-right;
  margin-bottom: 0;
  background-color: #000;
  .details {
    height: 100%;
    padding-bottom: $app-content-margin-left;
    overflow: hidden;
    .bucketItem {
      .bucketItem--header {
        color: #fff;
        margin-left: 20px;
      }
      .image-thumbnail {
        &.thumnail-hover {
          &:hover {
            .down-arrow {
              display: none;
            }
          }
        }
      }
    }
    .movie-details {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      width: calc(100% - 118px);
      margin-left: $app-content-margin-left;
      margin-right: $app-content-margin-right;
      .movie-image-mobile {
        display: none;
        position: relative;
        width: 100%;
        height: 48vw;
        background-size: cover;
        background-position: center;
        .video-details-thumbnail-item {
          .play-button {
            @extend .play-button-extend;
          }
          .image-container {
            img {
              width: 100%;
            }
          }
        }
      }
      .movie-image-big-screens {
        display: block;
        position: relative;
        width: 25vw;
        min-width: 265px;
        max-width: 350px;
        height: 25vw;
        min-height: 265px;
        max-height: 350px;
        background-size: contain;
        background-position: center;
        .video-details-thumbnail-item {
          .image-container {
            img {
              width: 100%;
            }
          }
          .play-button {
            @extend .play-button-extend;
          }
        }
      }
      .movie-info {
        color: #fff;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        padding: 0 35px;
        -ms-flex-item-align: end;
        align-self: flex-end;
        width: calc(100% - 25vw);
        min-width: calc(100% - 350px);
        max-width: calc(100% - 265px);
      }
    }
    .episodes-slider {
      position: relative;
      .series-episodes-mobile {
        display: none;
      }
      .select-box-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        margin-left: $app-content-margin-left;
        margin-right: $app-content-margin-right;
        .select-container {
          margin-right: 10px;
          select {
            height: 36px;
            width: 200px;
            background: transparent;
            color: $select-text-color;
            background-color: $select-background-color;
            font-size: 1.063em;
            padding-left: 10px;
            border: 1px solid $select-border-color;
            z-index: 30;
            -webkit-appearance: none;
            &::-ms-expand {
              display: none;
            }
            &:hover {
              color: $select-hover-color;
            }
          }
          .select_season {
            width: 140px;
          }
        }
      }
      .series-divider {
        margin: 30px 0;
        padding: 0 $app-content-margin-left;
        & > div {
          width: 100%;
          height: 1px;
          opacity: 0.6;
          background-color: #636363;
        }
      }
      .pagination-dots {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        bottom: 0px;
        position: absolute;
        z-index: 5;
        span {
          display: -ms-flexbox;
          display: -webkit-box;
          display: flex;
          -ms-flex-align: end;
          -webkit-box-align: end;
          align-items: flex-end;
          width: 18px;
          margin: 0 4px;
          border-bottom: $carousel-border-size solid $select-border-color;
          width: 26px;
          opacity: 0.5;
          color: $select-border-color;
          background: transparent;
          border-radius: 0;
          &.swiper-pagination-bullet-active {
            border-bottom: $carousel-border-size solid $carousel-selected-dot-color;
            opacity: 1;
            color: $carousel-selected-dot-color;
          }
        }
      }
      .router-link {
        color: $on-image-desc-text-color;
        text-decoration: none;
      }
      .on-image-desc {
        padding: 0 10px;
        top: calc(100% - 130px);
        bottom: auto;
        left: 0;
        font-size: 25px;
        color: $on-image-desc-text-color;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        p:first-child {
          margin: 0;
        }
        p:nth-child(2) {
          margin: 0;
          font-size: 16px;
          color: #929090;
        }
      }
      .swiper-container {
        margin-left: $video-info-content-margin-right;
        width: calc(100% - #{$video-info-content-margin-right * 2});
        overflow: hidden;
      }
      .swiper-button-next,
      .swiper-button-prev {
        display: none;
      }
      .left-arrow,
      .right-arrow {
        top: calc(50% - 80px / 2);
        height: 29px;
        width: 62px;
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
      }
      .left-arrow {
        background-image: url("~app/resources/assets/thumbnail/ic-left-arrow.png");
      }
      .right-arrow {
        right: 0px;
        background-image: url("~app/resources/assets/thumbnail/ic-right-arrow.png");
      }
      .image-thumbnail {
        .description {
          font-size: 12px;
          font-family: "changa";
        }
        .overlay-color {
          display: none;
        }
        .play-button {
          /* top: 45%; */
          transform: translate(-50%, -100%);
        }
      }
      .episode-item{
        .play-button {
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  .dropdown-bottom {
    margin: 0;
    padding: 0;
    min-height: auto;
    font-family: "changa";
    .dropdown-bottom-left {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      max-width: 100%;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      .dropdown-extra-info {
        font-size: 18px;
      }
      .dropdown-description {
        font-size: 16px;
        font-family:"changa";
      }
      .actions {
        margin: 0;
        margin-top: 20px;
      }
    }
  }
  .bucketItem {
    .bucket-container {
      .swiper-container {
        .swiper-button-next {
          margin: -22px 0px 0 0px;
          height: 100%;
        }
        .swiper-button-prev {
          margin: -22px 0 0 0px;
          height: 100%;
        }
      }
    }
  }
}

/*Device width pixel lesser than 1024*/
@media only screen and (max-width: 1024px) {
  .details-container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1px;
    .details {
      .movie-details {
        .movie-info {
          padding: 0;
          padding-left: 20px;
        }
      }
    }
    .dropdown-bottom {
      .dropdown-bottom-left {
        .dropdown-extra-info {
          font-size: 16px;
        }
        .dropdown-description {
          font-size: 14px;
        }
        .dropdown-info {
          .dropdown-actors-genres {
            li {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}

/*Device width pixel in between 745*/
@media only screen and (max-width: 745px) {
  .details-container {
    .details {
      .bucketItem {
        .bucketItem--header {
          margin-left: 20px;
        }
      }
      .movie-details {
        margin: 0;
        margin-bottom: 20px;
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        .movie-image-mobile {
          display: block;
        }
        .movie-image-big-screens {
          display: none;
        }
        .movie-info {
          padding: 20px 20px 10px;
          -ms-flex-item-align: end;
          align-self: flex-end;
          width: 100%;
          min-width: inherit;
          max-width: inherit;
        }
      }
      .episodes-slider {
        .left-arrow,
        .right-arrow {
          display: none;
        }
        .series-divider {
          display: none;
        }
        .select-box-container {
          margin: 0 20px;
        }
        .swiper-container {
          display: none;
        }
        .series-episodes-mobile {
          display: block;
          .episode-item {
            .image-thumbnail {
              .on-image-desc {
                top: calc(100% - 40px);
                left: 2%;
              }
            }
          }
        }
      }
    }
  }
}

/*Device width pixel in between 480*/
@media only screen and (max-width: 480px) {
  .details-container {
    .details {
      .episodes-slider {
        .select-box-container {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          .select-container {
            width: 100%;
            .select_season {
              width: 100%;
            }
            select {
              width: 100%;
              margin-top: 10px;
            }
          }
        }
        .series-episodes-mobile {
          display: block;
          .episode-item {
            .image-thumbnail {
              .on-image-desc {
                top: calc(100% - 40px);
                left: 2%;
                font-size: 21px;
              }
            }
          }
        }
      }
    }
  }
}
