@import "app/resources/styles/variables.scss";

.myactivity-container {
  background: black;
  color: white;
  font-family: "changa";
  min-height: calc(100vh - #{$header-height} - #{$app-footer-height});

  .top-container {
    display: flex;
    flex-direction: column;

    .button-container {
      display: flex;
      justify-content: center;
      align-items: center;

      .watching-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 141px;
        height: 46px;
        border-radius: 5px;
        margin: 20px 5px;
        cursor: pointer;

        .play-icon {
          width: 25px;
          height: 25px;
          background: url($play-icon) no-repeat;
          background-size: cover;
          margin: 0 4px;
        }

        .watching-text {
          font-size: 20px;
          font-weight: 400;
          margin: 0 4px;
        }
      }

      .rating-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 109px;
        height: 46px;
        border-radius: 5px;
        margin: 20px 5px;
        cursor: pointer;

        .star-icon {
          width: 14px;
          height: 14px;
          background: url($rating-icon) no-repeat;
          background-size: cover;
          margin: 0 4px;
        }

        .rating-text {
          font-size: 20px;
          font-weight: 400;
          margin: 0 4px;
        }
      }
    }

    .myactivity-heading {
      margin-top: 20px;
      margin-bottom: 20px;
      color: #ffffff;
      font-size: 24px;
      text-align: center;
    }
  }

  .data-container {
    margin-bottom: 100px;
  }

  .rating-details-container,
  .watching-details-container {
    .no-content {
      margin-top: 50px;
      text-align: center;
    }

    .rating-details,
    .watching-details {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .rating-row,
      .watching-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #ffffff;
        height: 60px;
        line-height: 60px;
        font-size: 20px;
        font-weight: 400;
        overflow: hidden;

        .top-border {
          position: absolute;
          width: 706px;
          height: 1px;
          background-color: #d7d7d7;
          opacity: 0.2;
        }

        .watching-row-content {
          display: flex;
          flex-direction: row;
          .left-container {
            display: flex;
            flex-direction: row;

            .viewed {
              width: 130px;
            }

            .title {
              width: 360px;
              cursor: pointer;

              &:hover {
                text-decoration: underline;
              }
            }
          }

          .right-container {
            display: flex;
            flex-direction: row;

            .report-problem {
              width: 175px;
              cursor: pointer;

              &:hover {
                text-decoration: underline;
              }
            }

            .rating-container {
              display: flex;
              align-items: center;

              .icon {
                margin: 0 10px;
                width: 15px;
                height: 15px;
                @media only screen and (max-width: 745px) {
                  margin: 0 5px;
                }
              }

              .set {
                background: url($rating-icon-unfocused) no-repeat;
              }

              .unset {
                background: url($rating-icon) no-repeat;
              }
            }

            .cross-icon {
              width: 20px;
              height: 60px;
              margin: 0 10px;
              background: url($cross-icon) center no-repeat;
              cursor: pointer;
              @media only screen and (max-width: 745px) {
                background: url($cross-icon-mobile) center no-repeat;
              }
            }
          }
          @media only screen and (max-width: 745px) {
            width: 100%;
            font-size: 16px;
          }
        }
      }
    }
  }

  .rodal-dialog {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .rating-dialog-content {
      .dialog-title {
        text-align: center;
        margin: 30px auto !important;
        color: #606060;
        font-size: 22px;
        letter-spacing: 0.005em;
      }

      .rating-container {
        text-align: center;
        .icon {
          margin: 0 10px;
          width: 15px;
          height: 15px;
        }
        .star {
          margin: 5px;
          display: inline-block;
          background-size: contain;
          height: 50px;
          width: 50px;
          content: "";
        }

        .dv-star-rating-full-star {
          .star {
            background-image: url("~app/resources/assets/thumbnail/ic-star.svg");
          }
        }

        .dv-star-rating-empty-star {
          .star {
            background-image: url("~app/resources/assets/rating/empty-star.png");
          }
        }
      }
    }

    .rating-dialog-actions {
      .dialog-ok-btn {
        border-top: 1px solid #606060;
        width: 100%;
        text-transform: none;
        color: #606060 !important;
        padding: 0;
        margin: 0 0 -17px !important;
        border-radius: 0;
        min-height: inherit;
        margin: 0 !important;
        text-decoration: none;
        letter-spacing: 0.01em;
        display: inline-block;
        align-items: center;
        text-align: center;
        font-size: 14px;
        height: 50px;

        &:first-child {
          border-right: 1px solid #606060;
        }

        &:hover {
          background: $primary-orange-color;
          color: white;
        }
      }
    }

    .dialog-content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .content {
        padding: 24px;
        text-align: center;
      }

      .dialog-title {
        color: $primary-orange-color;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.005em;
        margin-bottom: 10px;
      }

      .dialog-text {
        color: #606060;
      }

      .actions {
        display: flex;
        height: $my-acc-dialog-btn-height;
      }

      .dialog-ok-btn {
        border-top: 1px solid #606060;
        width: 100%;
        text-transform: none;
        color: #606060;
        padding: 0;
        margin: 0 0 -17px;
        border-radius: 0;
        background: $my-background-color;
        font-size: 14px;
        height: $my-acc-dialog-btn-height;

        &:first-child {
          border-right: 1px solid #606060;
        }

        &:hover {
          background: $primary-orange-color;
          color: white;
        }
      }
    }
    @media only screen and (max-width: 745px) {
      width: 90% !important;
    }
  }

  .done-button {
    margin: 0 auto 80px;
    width: 109px;
    height: 46px;
    line-height: 46px;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #ff740f;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
  }
  .prob-watch-button {
    margin: 0 auto 80px;
    width: 109px;
    height: 46px;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #ff740f;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    &.margin-button {
      margin: 0;
      margin-right: 10px;
      margin-top: 5px;
    }
  }

  .empty-space {
    height: 30px;
  }

  &.watching {
    .button-container {
      .watching-button {
        background: $button-focused-color;
      }

      .rating-button {
        background: $button-unfocused-color;
        color: $button-unfocused-text-color;

        .star-icon {
          background-image: url($rating-icon-unfocused);
        }
      }
    }
  }

  &.rating {
    .button-container {
      .watching-button {
        color: $button-unfocused-text-color;
        background: $button-unfocused-color;

        .play-icon {
          background-image: url($play-icon-unfocused);
        }
      }

      .rating-button {
        background: $button-focused-color;
      }
    }
  }
  .problem-watching-container {
    display: flex;
    justify-content: center;
    .problem-watching {
      width: calc(100% - 20vw);
      .problem-watch-heading {
        color: #ffffff;
        font-size: 24px;
      }
    }
    .problem-watch-first-row {
      display: flex;
      .problem-watch-checkbox-container {
        order: 1;
        flex-basis: 70%;
        @media only screen and (max-width: 745px) {
          order: 2;
        }
      }
      .problem-watch-image-container {
        order: 2;
        flex-basis: 30%;
        .image-container {
          img {
            width: 100%;
          }
        }
        .play-button {
          img {
            display: none;
          }
        }
        @media only screen and (max-width: 745px) {
          order: 1;
          .image-thumbnail .play-button {
            display: none;
          }
        }
      }
      @media only screen and (max-width: 745px) {
        flex-direction: column;
      }
    }
    .comment-textarea {
      width: 100%;
      border-radius: 5px;
      resize: none;
    }
    .problem-watch-buttons {
      display: flex;
    }
  }
  .error-text {
    height: 13px;
    font-size: 13px;
    font-weight: 400;
    margin: 5px 0 10px 0;
    color: #ff0000;
  }
}

.app-body[dir="rtl"] {
  .myactivity-container {
  }
}
/*Device width pixel lesser than 1024*/
@media only screen and (max-width: $mobile-view-threshold-px) {
  .myactivity-container {
    min-height: calc(100vh - #{$header-height-mobile} - #{$app-footer-height});

    .top-container {
      flex-direction: column-reverse;

      .button-container {
        padding: 0 20px;
        justify-content: center;
      }

      .myactivity-heading {
        padding: 0 20px;
        text-align: left;
      }
    }

    .rating-details-container,
    .watching-details-container {
      .rating-details,
      .watching-details {
        padding: 0 20px;

        .rating-row,
        .watching-row {
          height: unset;
          line-height: unset;
          width: 100%;

          .watching-row-content {
            color: #646464;
            .left-container {
              display: flex;
              flex-direction: column-reverse;
              justify-content: center;
              width: 100%;
              .title {
                width: unset;
              }
            }

            .right-container {
              display: flex;
              flex-direction: row;
              justify-content: flex-end;

              .report-problem {
                align-items: center;
                display: flex;
                width: unset;
              }
            }
          }

          .top-border {
            width: 100%;
            left: 0;
          }
        }
      }
    }
  }
}
