@import "app/resources/styles/variables.scss";

.app-body[dir="rtl"] {}

.email-verification-container {
  background: black;
  color: #fff;
  min-height: calc(100vh - #{$header-height} - #{$app-footer-height});

  .email-verification-content {
    width: 100%;
    text-align: center;
    font-size: 20px;

    .margin-collpse {
      height: 1px;
    }
    .email-row {
      margin-top: 100px;

      strong {
        font-weight: 700;
      }
    }

    .note {
      color: #9c9c9c;
      margin-top: 40px;
      font-size: 18px;
      line-height: 23px;
      @media(max-width: $mobile-view-threshold-px) {
        font-size: 16px;
      }
    }
    @media(max-width: $mobile-view-threshold-px) {
      width: 80%;
      margin: 0 10%;
      font-size: 16px;
    }
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;


    .btn-resend, .btn-login {
      margin: 10px 0;
      width: 258px;
      height: 42px;
      border-radius: 5px;
      background-color: #ff740f;
    }

    .btn-login {
      margin-bottom: 100px;
    }

    @media(max-width: $mobile-view-threshold-px) {
      flex-direction: column;

      .btn {
        width: 80%;
        font-size: 16px;
      }
    }
  }
  @media(max-width: $mobile-view-threshold-px) {
    min-height: calc(100vh - #{$header-height-mobile} - #{$app-footer-height});
  }
}
