<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charSet="UTF-8" />
        <link rel="shortcut icon" href="" />

        <title>| Weyyak | Watch online movies, series, bollywood movies and shows in Arabic for free!</title>
  
        <%- include('../partials/style'); %>

    </head>

    <body>
        <div class='app-body ltr' dir="ltr">
            <%- include('../partials/header'); %>
                                <div>
                                    <h1 style="color: lightgray; margin: auto;">Error 404</h1>
                                </div>
            <%- include('../partials/footer'); %>
        </div>
    </body>

  </html>



 