@import "app/resources/styles/variables.scss";

.app-body[dir="rtl"] {
  .forgot-password {
    .close-btn {
      right: auto;
      left: 20px;
    }

    .forgot-password-container {
      .email-input {
        img {
          right: auto;
          left: 15px;
        }
      }
    }
  }
}

.forgot-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //text-align: center;
  align-items: center;
  background-color: $background-forgot-password-screen;
  background-size: cover;
  padding: 70px 0;
  color: #fff;
  position: relative;
  min-height: calc(100vh - #{$app-footer-height} - #{$header-height});
  font-family: "changa";

  input {
    width: 100%;
    height: 50px;
    padding: 0 10px;
    color: #646464;
    margin: 0;
    border-radius: 5px;
    border: 2px solid #4a4a4a;
    background: black;
    color: #ffffff;
  }

  .error-message {
    color: #bd0000;
    font-style: normal;
    padding: 4px;
    margin-top: 0;
    margin-bottom: 6px;
    font-weight: 400;
    height: 17px;
    font-size: 12px;
    position: relative;
    align-items: baseline;
    text-align: left;
    width: 100%;
  }

  .close-btn {
    display: flex;
    position: absolute;
    right: 22px;
    top: 14px;
    background: transparent;
  }

  .forgot-password-container {
    width: 30%;
    min-width: 376px;

    .forgot-password-title {
      font-size: 24px;
      height: 65px;
      line-height: 65px;
      width: 100%;
      white-space: nowrap;
      color: $primary-orange-color;

      p {
        margin: 0;
        text-align: center;
        color: #fff;
      }
    }

    .description {
      width: 100%;
      //text-align: center;
      height: auto;
      line-height: 28px;
      margin-top: 36px;
      font-size: 20px;
      margin-bottom: 26px;
      color: #4e4e4e;

      p {
        margin: 0;
      }
    }

    .description.informative {
      font-size: 20px;
      max-width: 880px;
      text-align: center;

      p {
        padding-bottom: 25px;
      }
    }

    .email-input {
      position: relative;

      img {
        position: absolute;
        right: 15px;
        top: 14px;
        z-index: 1;
      }
    }

    .forgot-password-buttons {
      margin-top: 36px;

      .forgot-button {
        text-transform: none;
        width: 100%;
        height: 50px;
        background-color: #ebebeb;
        margin: 0 0 10px;
        color: #5f5f5f;
        font-size: 20px;
        cursor: pointer;
        border-radius: 5px;
        background-color: $primary-orange-color;
        color: #ffffff;

        &.return-button {
          background-color: #414141;
        }
      }
    }

    .forgot-password-buttons.informative {
      margin-top: 93px;
    }
    @media (max-width: 745px) {
      .forgot-password-title {
        font-size: 18px;
      }

      .description,
      .email-input {
        font-size: 16px;
      }

      .forgot-password-buttons {
        .forgot-button {
          font-size: 16px;
        }
      }

      .forgot-password-buttons.informative {
        margin-top: 50px;
      }
    }
    @media screen and (max-width: 745px) {
      width: calc(100% - 20vw);
      min-width: auto;
    }
  }
  @media screen and (max-width: 745px) {
    padding: 0;
    min-height: calc(100vh - #{$app-footer-height} - #{$header-height-mobile});
  }
}

.forgot-password.arabic {
  .forgot-password-container {
    .description {
      text-align: right;
    }

    .description.informative {
      text-align: center;
    }

    .email-input {
      background-position: calc(0% + 11px) 13px;
      text-align: right;
      padding: 0 20px 0 37px;
    }
  }
}
