@import "app/resources/styles/variables.scss";

.app-body[dir="rtl"] {
  .plans-description-container {
    .time-indicator {
      .seven-days-free {
        left: unset;
        right: 10%;
      }

      .thirty-seven-days-free {
        right: unset;
        left: 10%;
      }

      .circle-indicator1 {
        left: unset;
        right: 10%;
      }

      .line1 {
        left: unset;
        right: 10%;
      }

      .circle-indicator2 {
        left: unset;
        right: 23%;
      }

      .line2 {
        left: unset;
        right: 23%;
      }

      .circle-indicator3 {
        right: unset;
        left: 10%;
      }
    }
  }
}

.plans-description-container {
  width: 100%;
  min-height: calc(100vh - 245px);
  background: black;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  font-family: "changa";

  @media only screen and (max-width: $mobile-view-threshold-px) {
    min-height: calc(100vh - 235px);
  }

  .try-for-free {
    margin-top: 50px;
    margin-bottom: 10px;
    width: 669px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 800;

    @media only screen and (max-width: $mobile-view-threshold-px) {
      width: 304px;
      font-size: 20px;
    }
  }

  .try-for-free1 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 800;
  }

  .try-for-free2 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 800px;
  }

  .time-indicator {
    display: flex;
    height: 50px;
    font-size: 16px;
    margin-top: 10px;

    @media only screen and (max-width: $mobile-view-threshold-px) {
      font-size: 14px;
    }

    .seven-days-free {
      position: absolute;
      left: 10%;
    }

    .thirty-seven-days-free {
      position: absolute;
      right: 10%;
    }

    .circle {
      margin-top: 25px;
      position: absolute;
      width: 14px;
      height: 14px;
      border-radius: 7px;
    }

    .line {
      position: absolute;
      height: 2px;
      margin-top: 31px;
    }

    .circle-indicator1 {
      left: 10%;
      background-color: #067f02;
    }

    .line1 {
      left: 10%;
      width: 23%;
      background-color: #067f02;
    }

    .circle-indicator2 {
      left: 23%;
      background-color: #ff6d02;
    }

    .line2 {
      left: 23%;
      width: 67%;
      background-color: #ff6d02;
    }

    .circle-indicator3 {
      right: 10%;
      background-color: #ff6d02;
    }
  }

  .subscription-desc1,
  .subscription-desc2 {
    width: 420px;
    color: #ffffff;
    font-size: 16px;

    @media only screen and (max-width: $mobile-view-threshold-px) {
      width: 290px;
      height: 68px;
      font-size: 14px;
      line-height: 17px;
    }
  }

  .subscribe-now-button {
    margin: 50px 0;
    width: 229px;
    height: 46px;
    border-radius: 8px;
    background-color: #ff6d02;
    font-size: 18px;

    @media only screen and (max-width: $mobile-view-threshold-px) {
      margin: 25px 0;
      width: 230px;
      height: 37px;
      border-radius: 5px;
      font-size: 14px;
    }
  }

  // .exclusive-content {
  //   margin-top: 30px;
  //   width: 479px;
  //   height: 55px;
  //   color: #ffffff;
  //   font-size: 55px;
  //   font-weight: 700;
  //   @media only screen and (max-width: $mobile-view-threshold-px) {
  //     width: 375px;
  //     height: 30px;
  //     font-size: 30px;
  //     margin-top: 10px;
  //   }
  // }
  .icons-list {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: center;

    .container {
      width: 25%;
    }

    .icon {
      height: 39px;
      margin: 0;
      background-position: center;
      background-repeat: no-repeat;
    }

    .text {
      margin-top: 5px;
      font-size: 16px;

      @media only screen and (max-width: $mobile-view-threshold-px) {
        font-size: 14px;
        line-height: 16px;
      }
    }

    .no-ads {
      .icon {
        background-image: url("#{$no-ads}");
      }
    }

    .smart-tv {
      .icon {
        background-image: url("#{$smart-tv}");
      }
    }

    .exclusive-content {
      .icon {
        background-image: url("#{$exclusive-content}");
      }
    }

    .downloads {
      .icon {
        background-image: url("#{$downloads}");
      }
    }

    .hd-content {
      .icon {
        background-image: url("#{$hd-content}");
      }
    }
  }

  .subscrition-image-1 {
    margin-top: 50px;
    width: 1440px;
    height: 722px;
    // background-image: url("#{$subscrition-image-3}");
    background-size: contain;
    background-repeat: no-repeat;

    @media only screen and (max-width: $mobile-view-threshold-px) {
      width: 548px;
      height: 322px;
    }
  }
}

.new-description-plan-data {
  .plans-description-container {
    .time-indicator {
      position: relative;
      max-width: 100%;
      width: 1000px;
    }
  }

  .icons-list {
    margin-top: 0;
    max-width: 1080px;
    width: 100%;
    margin-bottom: 20px;
  }

  .subscribe-now-button {
    margin: 15px 0 40px 0;
  }

  .plans-description-container .try-for-free {
    font-size: 30px;
    font-weight: 700;
    line-height: 39px;
    width: 100%;
    font-family: Changa;
    margin-bottom: 0;

    @media (max-width: 767px) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .subhead {
    font-weight: 200;
    font-size: 26px;
    font-style: normal;
    font-family: Changa;

    @media (max-width: 767px) {
      font-size: 20px;
    }
  }

  .subscrition-image-3 {
    margin-top: 60px;
    width: 1090px;
    height: 492px;
    // background-image: url("#{$subscrition-image-3}");
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 15px;
    border-radius: 6px;

    p {
      display: block;
      text-align: left;
      margin-top: -35px;
      padding-left: 15px;
    }

    @media only screen and (max-width: $mobile-view-threshold-px) {
      width: 548px;
      height: 322px;
    }

    .plans-description-container .time-indicator {
      margin-top: 0;
    }
  }

  .subscribe-thumb-grid {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding-bottom: 30px;

    @media (max-width: 767px) {
      width: auto;
    }

    ul {
      padding: 0;
      margin: 0;
      display: flex;

      @media (max-width: 767px) {
        display: block;
        text-align: center;
      }

      li {
        display: inline-block;

        @media (max-width: 767px) {
          margin-bottom: 10px;

          &:nth-child(even) {
            margin-right: 0;
          }
        }

        img {
          border-radius: 4px;
          width: 168px;
        }

        list-style: none;
        cursor: pointer;
        margin-right: 14px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.subscribeslider {
  .image-thumbnail .carousel-image :last-child{
    opacity:0;
  }
  @media(max-width:767px) {
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
  }

  .banner-label {
    P {
      font-size: 24px;
      font-weight: 700;
      padding: 0;
      margin: 0 0 10px 0;
      text-align: left;
    }
  }

  width: 100%;
  max-width: 1080px;
  height: 488px;
  margin-bottom: 15px;
  border-radius: 6px;
  overflow: hidden;

  .swiper-container {
    img {
      width: 100%;
      object-fit: contain;
      height: 488px;
      @media(max-width: 767px){
        height: auto;
      }
    }
  }

  .image-carousel .pagination-dots.swiper-pagination-bullets {
    span {
      height: 5px;
      background-color: rgba(255, 255, 255, 0.5);
      border: 0;
      border-radius: 20px;
      width: 22px;
      margin-right: 5px;
      opacity: 1;

      &.swiper-pagination-bullet-active {
        opacity: 1;
        background-color: rgba(255, 255, 255, 1);
      }
    }

    bottom: 30px;
  }
}

.app-body.rtl {
  .subscribeslider .banner-label P {
    text-align: right;
  }

}
