@import "app/resources/styles/variables.scss";

.app-body[dir="rtl"] {
  .forgot-password-mobile {
    .close-btn {
      right: auto;
      left: 20px;
    }

    .forgot-password-container {
      .email-input {
        img {
          right: auto;
          left: 15px;
        }
      }
    }
  }
}

.forgot-password-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //text-align: center;
  align-items: center;
  background-color: $background-forgot-password-screen;
  background-size: cover;
  padding: 70px 0;
  color: #fff;
  position: relative;
  padding: 50px 0;
  min-height: calc(100vh - #{$app-footer-height} - #{$header-height});

  .close-btn {
    display: flex;
    position: absolute;
    right: 22px;
    top: 14px;
    background: transparent;
  }

  .forgot-password-container {
    width: 30%;
    min-width: 376px;

    .forgot-password-title {
      font-size: 24px;
      height: 65px;
      line-height: 65px;
      width: 100%;
      white-space: nowrap;
      color: #4e4e4e;

      p {
        margin: 0;
        text-align: center;
        color: #fff;
      }

      @media (max-width: 745px) {
        font-size: 18px;
      }
    }

    .description {
      width: 100%;
      font-size: 21px;
      height: auto;
      line-height: 28px;
      margin-top: 36px;
      margin-bottom: 26px;
      color: #4e4e4e;

      p {
        margin: 0;
      }
      @media (max-width: 745px) {
        font-size: 16px;
      }
    }

    .description.informative {
      max-width: 880px;
      text-align: center;

      p {
        padding-bottom: 25px;
      }
    }

    .email-input {
      position: relative;

      img {
        position: absolute;
        right: 15px;
        top: 14px;
      }

      input {
        margin: 0;
        width: 100%;
        height: 50px;
        line-height: 50px;
        border: none;
        padding: 0 37px 0 20px;
        color: #646464;
        background-color: #ebebeb;
        border-radius: 5px;
        caret-color: #4e4e4e;

        @media (max-width: 745px) {
          font-size: 16px;
        }
      }
    }

    .forgot-password-buttons {
      margin-top: 36px;

      .forgot-button {
        text-transform: none;
        width: 100%;
        height: 50px;
        background-color: #ebebeb;
        margin: 0 0 10px;
        color: #5f5f5f;
        cursor: pointer;
        border-radius: 5px;
        font-size: 20px;

        @media (max-width: 745px) {
          font-size: 16px;
        }
      }

      .highlight {
        background-color: $lightPrimary;
        color: #ffffff;
      }
    }

    .forgot-password-buttons.informative {
      margin-top: 93px;
    }

    @media screen and (max-width: 745px) {
      width: 80%;
      min-width: auto;
    }
  }
  @media screen and (max-width: 745px) {
    padding: 30px 0;
    min-height: calc(100vh - #{$app-footer-height} - #{$header-height-mobile});
  }
}

.forgot-password.arabic {
  .forgot-password-container {
    .description {
      text-align: right;
    }

    .description.informative {
      text-align: center;
    }

    .email-input {
      background-position: calc(0% + 11px) 13px;
      text-align: right;
      padding: 0 20px 0 37px;
    }
  }
}
