// @import "app/resources/styles/variables.scss";

// .app-body[dir="rtl"] {
//   .rodal-dialog {
//     .actions {
//       .dialog-ok-btn:first-child {
//         border-right: none;
//         border-left: 1px solid #606060;
//       }
//     }
//   }
// }

// .manage-account {
//   background-color: black;
//   display: flex;
//   justify-content: center;
// }

// .active-text {
//   margin: 0 10px;
// }

// .manage-account-conatiner {
//   background: black;
//   color: #fff;
//   min-height: calc(100vh - #{$header-height} - #{$app-footer-height});
//   width: 85%;
//   margin: 30px 0 70px;
//   font-family: "Changa";

//   .subscription-title {
//     text-align: center;
//     font-size: 20px;
//     padding: 20px;
//   }

//   .tab-buttons {
//     display: flex;
//     justify-content: center;
//     margin: 50px 0 20px;

//     @media only screen and (max-width: $mobile-view-threshold-px) {
//       margin: 20px 0;
//     }

//     .btn {
//       font-size: 16px;
//       width: 197px;
//       height: 41px;
//       border-radius: 5px;
//       background-color: #4a4a4a;

//       &.current {
//         background-color: #ff6d02;
//       }
//     }
//   }

//   .heading {
//     margin-top: 20px;
//     margin-bottom: 20px;
//     height: 30px;
//     line-height: 30px;
//     color: white;
//     font-weight: 700;
//     text-transform: capitalize;
//   }

//   .plan-item {
//     display: flex;
//     margin: 10px 0;
//     color: #4a4a4a;
//     border-radius: 5px;
//     height: 25px;
//     font-size: 14px;
//     line-height: 25px;

//     .label {
//       width: 150px;
//       @media only screen and (max-width: $mobile-view-threshold-px) {
//         width: 125px;
//       }
//     }
//   }

//   .active {
//     .plan-item {
//       .value {
//         color: white;
//       }
//     }
//   }

//   .add-plan {
//     margin: 15px 0 30px;
//     font-size: 16px;
//     width: 93px;
//     height: 37px;
//     border-radius: 5px;
//     background-color: #ff6d02;
//   }

//   .cancel-subscription {
//     height: 39px;
//     color: #ff6d02;
//     font-size: 14px;
//     line-height: 32px;
//     text-decoration: underline;

//     span {
//       cursor: pointer;
//     }
//   }
//   .cancelled {
//     color: #4a4a4a;
//     height: 39px;
//     font-size: 14px;
//     line-height: 32px;
//     text-decoration: underline;
//   }

//   .toggle-button {
//     margin: 4px;
//     display: flex;
//     justify-content: flex-end;
//     width: 36px;
//     height: 16px;

//     .react-switch-bg {
//       border: 1px solid #979797;
//     }
//   }

//   .horizontal-divider {
//     width: 100%;
//     height: 1px;
//     background: #424242;
//   }
// }

// .rodal-dialog {
//   padding: 0;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;

//   .dialog-content {
//     width: 100%;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;

//     .content {
//       padding: 24px;
//       text-align: center;
//     }

//     .dialog-title {
//       color: $primary-orange-color;
//       margin-top: 20px;
//       font-size: 20px;
//       font-weight: 500;
//       margin-bottom: 10px;
//       text-align: center;
//     }

//     .dialog-text {
//       color: #606060;
//     }
//   }

//   .actions {
//     display: flex;
//     height: $my-acc-dialog-btn-height;

//     .dialog-ok-btn {
//       border-top: 1px solid #606060;
//       width: 100%;
//       text-transform: none;
//       color: #606060;
//       padding: 0;
//       margin: 0 0 -17px;
//       border-radius: 0;
//       background: $my-background-color;
//       font-size: 14px;
//       height: $my-acc-dialog-btn-height;

//       &:first-child {
//         border-right: 1px solid #606060;
//       }

//       &:hover {
//         background: $primary-orange-color;
//         color: white;
//       }
//     }
//   }
//   @media only screen and (max-width: 745px) {
//     width: 90% !important;
//   }
// }

// .no-active-plan {
//   text-align: center;
//   color: #fff;
//   width: 100%;
//   padding: 30px;
// }

// .subscribe-now-button {
//   margin: 50px 0;
//   width: 158px;
//   height: 46px;
//   border-radius: 8px;
//   background-color: #ff6d02;
//   font-size: 18px;
//   @media only screen and (max-width: $mobile-view-threshold-px) {
//     margin: 25px 0;
//     width: 230px;
//     height: 37px;
//     border-radius: 5px;
//     font-size: 14px;
//   }

// }