@import "app/resources/styles/variables.scss";

.app-body[dir="rtl"] {
  .about-overlay {
    .close-btn {
      right: auto;
      left: 20px;
    }
  }
}



.about-overlay {
  width: 100%;
  min-height: calc(100vh - 50px - 186px);
background-color: #000000;

  .close-btn {
    position: absolute;
    top: 27px;
    right: 28px;
    width: 30px;
    height: 30px;
    @media (max-width: $mobile-view-threshold-px) {
      &hover {
        background-color: $primary-orange-color;
      }
    }
    .icon {
      top: 0;
    }
  }

  .about-overlay-container {
    width: 100%;
    padding: 0 70px;
    max-width: 1300px;
    margin: 0 auto;
    @media (max-width: 767px) {
      padding: 0 30px;
    }

    .static-page {
      padding: 0 70px;
      @media (max-width: $mobile-view-threshold-px) {
        padding: 0 10px;
      }

     

      .overlay-title {
        color: $overlay-title-color;
        max-width: 1300px;
        font-size: 26px;
        width: 100%;
        margin: 0 auto !important;
        background-color: $overlay-title-background-color;
        padding: 60px 0 0;
        font-weight: bold;
        text-align: center;
      }

      .static-content {
        max-width: 1300px;
        width: 100%;
        margin: 0 auto;
        background-color: $static-content-background-color;
        color: $static-content-color;
        padding: 60px;
        text-align: justify;
        @media (max-width: $mobile-view-threshold-px) {
          padding: 15px;
        }

        p:nth-child(odd) {
          font-weight: bold;
        }
      }

      &.arabic {
        direction: rtl;
      }
    }
  }

  .overlays-close {
    position: fixed;
    top: 65px;
    right: 15px;
    display: inline-block;
    width: 25px;
    height: 25px;
    overflow: hidden;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      top: 50%;
      left: 0;
      margin-top: -1px;
      background: white;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }

  .about-heading{
    text-align: center;
    padding-top: 22px;
    h1{
      color: white;
      font-size: 81px;
      font-family: Changa;
      font-weight: bold;
      margin-bottom: 18px;
      margin-top: 0;
      @media(max-width:767px){
        // font-size: 24px;
        font: normal normal bold 31px/71px Changa;
        letter-spacing: 0px;
      }
      
    }
  }

  .image-top{
    text-align: center;
    img{
      @media(max-width:767px){
        width: 100%;
      }
    }
 
  }
  .description{
    color:white;
    text-align: center;
    font-family: Changa,Regular;
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 31px;
    @media(max-width:767px){
      // font-size: 18px;
      font: normal normal normal 16px/23px Changa;
      letter-spacing: 0px;
      color: #FFFFFF;
     
    } 
  }
  .middle-heading{
    color:#707070;
    font-size: 26px;
    font-family: Changa,Regular;
    letter-spacing: 13px;
    text-align: center;
    @media(max-width:767px){
      // font-size: 21px;
      font: normal normal normal 16px/30px Changa;
      
    }
  }
  .middle-heading2{
    color:white;
    font-size: 81px;
    font-family: Changa;
    font-weight: bold;
    text-align: center;
    margin-top: -45px;
    margin-bottom: 15px;
    @media(max-width:767px){
      // font-size: 24px;
      margin-top: -23px;
      text-align: center;
      font: normal normal bold 31px/71px Changa;
      letter-spacing: 0px;
      color: #FFFFFF;
    }
   
  }
  .image-bottom{
    text-align: center;
    margin-bottom: 10px;
    img{
      @media(max-width:767px){
        width:100%;
      }
    }
  }
  .bottom-text{
    color:#707070;
    font-size:26px;
    font-family: Changa,Regular;
    text-align: center;
    @media(max-width:767px){
      // font-size: 21px;
      text-align: center;
      font: normal normal normal 16px/16px Changa;
      letter-spacing: 0px;
      color: #707070;
      
    }
  }
}

//fade in and fade out when changing views
.overlays.ng-enter {
  transition: 0.3s ease-in-out all;
  opacity: 0;
}

.overlays.arabic {
  .overlays-close {
    position: fixed;
    right: auto;
    left: 15px;
  }
}

.overlays.ng-enter.ng-enter-active {
  opacity: 1;
}
