@import "app/resources/styles/variables.scss";

.gridScreen {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;

  .section-title {
    display: none;
    font-size: $grid-section-title-font-size;
    margin-top: 40px;
    margin-bottom: 5px;
    color: $select-hover-color;
  }

  .listing-filters-mobile {
    display: block;
    position: absolute;
    width: $grid-listing-filters-mobile-width;
    height: 50px;
    background-color: #ebebeb;
    color: #9993a0;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 5;

    .container {
      display: table;
      white-space: nowrap;
      overflow-x: auto;
      width: $grid-listing-filters-mobile-container-width;
      text-align: center;

      .filter-item {
        display: table-cell;
        padding: 0 12px;
        font-size: $grid-listing-filter-item-font-size;
        line-height: 50px;
        cursor: pointer;

        &.selected {
          color: $grid-text-highlight-color;
        }
      }
    }
  }

  .listing-filters {
    margin: 20px 0;

    h1 {
      font-size: 1.3em;
      color: $select-hover-color;
      display: none;
    }

    .first-select-box {
      @media screen and (max-width: 745px) {
        visibility: hidden;
      }
    }
    /*     .select-box-container {
      margin: 10px 0 10px 30px;
      display: -ms-inline-flexbox;
      display: inline-flex;

      .select-box {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 250px;
        cursor: pointer;
        background-color: $grid-dropdown-background-color;
        color: $grid-dropdown-text-color;
        z-index: 4;

        .selected,
        .select-element {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-direction: row;
          flex-direction: row;
          -ms-flex-pack: justify;
          justify-content: space-between;
          line-height: 46px;
          height: 46px;
          &:hover {
            color: $grid-dropdown-element-hover-color;
          }
        }
        &.single {
          cursor: unset;
          user-select: none;
          .selected {
            &:hover {
              color: $grid-dropdown-text-color;
            }
          }
        }
      }

      label {
        height: 46px;
        line-height: 46px;
        float: left;
      }

      .selected {
        border: none;
        padding-left: 10px;
        padding-right: 10px;
        z-index: 3;

        .btn {
          .icon {
            width: 25px;
            height: auto;
            transition: transform 0.2s ease;
            top: 0px;
          }
          &:hover {
            background-color: transparent;
          }
        }
      }
    } */
    /*     select-box:first-child {
      display: none;
    }

    select-box:last-child {
      .select-box-container {
        margin-top: 50px;
      }
    }

    select-box {
      .select-box-elements {
        height: 0px;
        position: absolute;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        top: 46px;
        padding: 0 10px;
        transition: height 0.3s ease;
        background-color: #ebebeb;
        overflow: hidden;
        transition: height 0.3s ease;
      }
      .select-element {
        transition: opacity 0.2s ease;
        border-top: solid 1px rgba(255, 255, 255, 0.75);
        opacity: 0;
      }

      &.open {
        .select-box-elements {
          height: auto;
        }
        .select-element {
          opacity: 1;
          -ms-flex-pack: start;
          justify-content: flex-start;
        }

        .btn {
          .icon {
            transform: rotate(180deg);
          }
        }
      }
    } */
  }

  .grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    clear: both;

    .carousel-item {
      width: 50%;
      transition: transform 0.3s ease;
      margin: 2px 0;

      .image-thumbnail:hover {
        -webkit-transform: scale($grid-thumbnail-zoom);
        -moz-transform: scale($grid-thumbnail-zoom);
        -ms-transform: scale($grid-thumbnail-zoom);
        -o-transform: scale($grid-thumbnail-zoom);
        transform: scale($grid-thumbnail-zoom);
      }
    }

    .default-image,
    img {
      width: calc(100% - 4px);
      // margin: 0 2px;
      display: block;
    }

    .btn,
    .carousel-bottom-overlay,
    .on-image-desc,
    .overlay-color {
      display: none;
    }
  }
}
@media (min-width: 320px) {
  .app-body[dir="rtl"] {
    .listing-filters {
      .select-box-container {
        label {
          float: right;
          margin: 0 20px;
        }
      }
    }
  }

  .gridScreen {
    .listing-filters {
      .select-box-container {
        display: block;
        margin-left: 30px;
        margin-right: 30px;

        label {
          margin: 0 20px;
        }
      }
    }

    .grid {
      width: calc(100% - (#{$grid-margin-left-right-320} * 2));
      margin: 0 $grid-margin-left-right-320;
      padding: 0;

      .carousel-item {
        width: $carousel-item-width-min-320;
      }
    }
  }
}
@media (min-width: 745px) {
  .gridScreen {
    .section-title {
      display: block;
      font-weight: bold;
      width: calc(100% - (#{$grid-margin-left-right-768} * 2));
      margin: 40px $grid-margin-left-right-768 0;
    }

    .listing-filters-mobile {
      display: none;

      .filter-item {
        display: table-cell;
        padding: 0 12px;
        font-size: 1em;
        line-height: 50px;
        cursor: pointer;
      }
    }

    .listing-filters {
      width: calc(100% - (#{$grid-margin-left-right-768} * 2));
      margin-left: $grid-margin-left-right-768;
      margin-right: $grid-margin-left-right-768;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
      flex-direction: row;
      float: none;
      -ms-flex-pack: justify;
      justify-content: space-between;

      h1 {
        display: block;
      }

      .select-box-container {
        display: -ms-flexbox;
        display: flex;
        margin: 0;

        label {
          margin: 0 20px;
        }
      }

      select-box:first-child {
        display: block;
      }

      select-box:last-child {
        .select-box-container {
          margin-top: 0;
        }
      }
    }

    .grid {
      width: calc(100% - (#{$grid-margin-left-right-768} * 2));
      margin: 0 $grid-margin-left-right-768;
      padding: 0;

      .carousel-item {
        width: $carousel-item-width-min-768;
      }
    }
  }
}
@media (min-width: 1024px) {
  .gridScreen {
    .grid {
      .carousel-item {
        width: $carousel-item-width-min-1024;
      }
    }
  }
}
@media (min-width: 1280px) {
  .gridScreen {
    .grid {
      .carousel-item {
        width: $carousel-item-width-min-1280;
      }
    }
  }
}
@media (min-width: 1920px) {
  .gridScreen {
    .grid {
      .carousel-item {
        width: $carousel-item-width-min-1920;
      }
    }
  }
}
